<div class="social social-desktop">
  <a href="https://www.facebook.com/brainy.wingz"><i  class="fa fa-facebook-square fa-3x"></i></a>
  <a href="#"><i  class="fa fa-linkedin-square fa-3x"></i></a>
  <a href="https://github.com/mossesWiz"><i  class="fa fa-github-square fa-3x"></i></a>
</div>
<main class="main-content row">
  <div class="nav-menu col col-2of10">
      <ul class="nav-menu-list">
        <li class="nav-menu-list-item"><a href="{{site.baseurl}}about.html">About Me</a></li>
        <li class="nav-menu-list-item"><a href="{{site.baseurl}}Resume.html">Resume</a></li>
        <li class="nav-menu-list-item"><a href="{{site.baseurl}}project.html">Projects</a></li>
        <li class="nav-menu-list-item"><a href="{{site.baseurl}}blog.html">Blog</a></li>

      </ul>
  </div>
  <section class="col col-8of10">
