
  </main>

  <footer class="site-footer" style="clear:both;">
      <span class="site-footer-credits">&copy <a href="#">mosseswiz</a> 2016 all right reserved</span>


      <span>
        <a href="https://www.facebook.com/brainy.wingz"><i class="fa fa-facebook-square fa-fw"></i></a>
        <a href="#"><i  class="fa fa-linkedin-square fa-fw"></i></a>
        <a href="https://github.com/mossesWiz"><i  class="fa fa-github-square fa-fw"></i></a>
      </span>

      <i class="pull-right">powered by <a href="www.github.com">github</a></i>
  </footer>
<!--
  <nav id="smart-menu">
      <ul class="smart-menu-list">
      <li class="smart-menu-list-item"><a href="{{site.baseurl}}index.html">home</a></li>
      <li class="smart-menu-list-item"><a href="{{site.baseurl}}about.html">About</a></li>
      <li class="smart-menu-list-item"><a href="{{site.baseurl}}resume.html">Resume</a></li>
      <li class="smart-menu-list-item"><a href="{{site.baseurl}}project.html">Projects</a></li>
      <li class="smart-menu-list-item"><a href="{{site.baseurl}}contact.html">Contact</a></li>
    </ul>
  </nav>
  -->
</div>
</body>
</html>
